body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
}
 .heroSection {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #74c69d;
}
 .heroSection__flexRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  margin: 35px auto 83px;
  width: 81.94%;
}
 .heroSection__flexColMain {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 416px;
  min-width: 0px;
}
.heroSection__mainImage {
  position: relative;
  margin: 0px 0px 0px 5px;
  width: 187px;
}
 .heroSection__welcomeText {
  position: relative;
  margin: 80px 0px 0px;
  font: 700 16px/1.25 "Work Sans", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 5px;
}
 .heroSection__heroTitle {
  position: relative;
  margin: 15px 0px 0px;
  font: 700 40px/1.25 "Crimson Text", Helvetica, Arial, serif;
  color: white;
}
 .heroSection__highlightDescription {
  position: relative;
  margin: 15px 0px 0px;
  font: 400 15px/1.25 "Work Sans", Helvetica, Arial, serif;
  color: rgba(255, 255, 255, 0.749);
}
 .heroSection__exploreButton {
  position: relative;
  justify-content: center;
  border: none;
  margin: 26px 0px 0px;
  width: 170px;
  max-width: 100%;
  font: 400 20px/1.25 "Work Sans", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  padding: 11.5px 8px 11.5px 8px;
}
 .heroSection__flexColSecondary {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 52px 0px;
  width: 644px;
  min-width: 0px;
}
 .heroSection__flexRowNavigation {
  position: relative;
  display: flex;
  gap: 0px 30px;
  margin: 0px 0px 0px auto;
  width: 391px;
}
 .heroSection__nav {
  position: relative;
  display: flex;
  justify-content: flex-end;
  min-width: 0px;
  font: 400 20px/1.25 "Work Sans", Helvetica, Arial, serif;
  color: white;
  text-align: right;
}
 .partnersSection {
  position: relative;
  display: flex;
  flex-direction: column;
}
 .flexCol {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px auto 54px;
  width: 81.94%;
}
 .flexCol1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 98.22%;
}
 .flexCol2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 16px 0px;
  width: 34.6%;
}
 .highlight{
  position: relative;
  display: flex;
  justify-content: center;
  font: 700 16px/1.25 "Work Sans", Helvetica, Arial, serif;
  color: #74c69d;
  text-align: center;
  letter-spacing: 5px;
}
 .subtitle {
  position: relative;
  display: flex;
  justify-content: center;
  font: 400 20px/1.25 "Work Sans", Helvetica, Arial, serif;
  color: black;
  text-align: center;
}
 .flexRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  margin: 65px 0px 0px;
  width: 100%;
}

 .partnerLogo {
  position: relative;
  width: 161px;
  min-width: 0px;
}
 .buttonLearnMore {
  position: relative;
  border: none;
  margin: 55px auto 0px;
  width: 170px;
  max-width: 100%;
  font: 400 20px/1.25 "Work Sans", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  background-color: #212529;
  border-radius: 5px 5px 5px 5px;
  padding: 11.5px 30px 11.5px 30px;
}
.buttonLearnMoreLeft {
  position: relative;
  border: none;
  align-self: flex-start;
  width: 170px;
  max-width: 100%;
  font: 400 20px/1.25 "Work Sans", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  background-color: #212529;
  border-radius: 5px 5px 5px 5px;
  padding: 11.5px 30px 11.5px 30px;
}
 .flexRowHeroImage {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  margin: 73px 0px 0px;
  width: 100%;
}
 .mainHeroImage {
  position: relative;
  width: 600px;
  min-width: 0px;
}
 .heroTitle {
  position: relative;
  margin: 15px 8px 0px 0px;
  font: 700 40px/1.25 "Crimson Text", Helvetica, Arial, serif;
  color: #212529;
}
 .highlightMain {
  position: relative;
  margin: 16px 0px 0px;
  font: 400 15px/1.25 "Work Sans", Helvetica, Arial, serif;
  color: rgba(33, 37, 41, 0.498);
}

 .flexColTeam {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px 0px;
  margin: 74px 0px 0px;
  width: 100%;
}
 .flexColTeamHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 102px 0px;
  width: 100%;
}
 .flexRowTeamHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
}
 .flexColTeamMembers {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px 0px;
  margin: 0px 2px;
}
 .flexColTeamIntro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px 0px;
  width: 34.1%;
}
 .flexRowMembers {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  width: 100%;
}
 .flexColMember {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto 19px;
  width: 189px;
}

 .teamMemberImage {
  position: relative;
  margin: 0px 0px 0px 14px;
  width: calc(100% - 14px);
}
 .contentBoxMember {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 252px;
  min-width: 0px;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.247);
}
 .teamMemberName {
  position: relative;
  padding-left: 20px;
  margin: 19px 0px 0px;
  width: 100%;
  font: 700 24px/1.25 "Crimson Text", Helvetica, Arial, serif;
  color: #212529;
}
 .teamMemberRole {
  position: relative;
  padding-left: 20px;
  margin: 17px 0px 0px;
  width: 100%;
  font: 400 15px/1.25 "Work Sans", Helvetica, Arial, serif;
  color: rgba(33, 37, 41, 0.749);
}
 .footerSection {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #74c69d;
}
 .footerContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  margin: 51px auto 49px auto;
  width: 81.81%;
}
 .footerImageRow {
  position: relative;
  display: flex;
  gap: 0px 20px;
  margin: 4px 0px 3px;
  width: 243px;
  min-width: 0px;
}
 .trustBadge {
  position: relative;
  width: 18px;
  min-width: 0px;
  height: 18px;
}
 .copyrightText {
  position: relative;
  display: flex;
  justify-content: flex-end;
  min-width: 0px;
  font: 400 20px/1.25 "Work Sans", Helvetica, Arial, serif;
  color: white;
  text-align: right;
  letter-spacing: -0.1px;
}